
{{#if announcements}}
    <h3>All Current Announcements</h3>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Date</th> 
            <th>Time</th>
            <th>Location</th>
            <th>Description</th>
            <th>Created At</th>
        </tr>
        {{#each announcements}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.formattedDate}}</td>
                <td>{{this.start_time}}</td>
                <td>{{this.location}}</td>
                <td>{{this.desc}}</td>
                <td>{{this.createdAt}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h6>There are no announcements.</h6>
{{/if}}