<h3>All Current Announcements</h3>

{{#if announcements}}
<table>
    <tr>
        <th>Name</th>
        <th>Date</th> 
        <th>Time</th>
        <th>Location</th>
        <th>Description</th>
        <th>Created At</th>
    </tr>
    {{#each announcements}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.date}}</td>
            <td>{{this.start_time}}</td>
            <td>{{this.location}}</td>
            <td>{{this.desc}}</td>
            <td>{{this.createdAt}}</td>
        </tr>
    {{/each}}
</table>
{{/if}}